tomcat:
  version: 7.0.54
  javaXmx: 3G
  javaMaxPermSize: 256m
  limitSoft: 64000
  limitHard: 64000
  hostName: localhost
  appName: server
  unpackWARs: false
  autoDeploy: false
  deployXML : false
  deployOnStartup: false
  reloadable: false
  privileged: true
  debug: 0
 