{% set ntp = {
    'lookup': salt['grains.filter_by']({
        'Debian': {
            'package': 'ntp',
            'service': 'ntp',
            'ntp_conf': '/etc/ntp.conf'
        },
        'RedHat': {
            'package': 'ntp',
            'service': 'ntpd',
            'ntp_conf': '/etc/ntp.conf'
        },
        'Suse': {
            'package': 'ntp',
            'service': 'ntp',
            'ntp_conf': '/etc/ntp.conf'
        },
    }, merge=salt['pillar.get']('ntp:lookup')),
    'settings': salt['pillar.get']('ntp:settings', {
        'ntpd': True,
        'ntp_conf': {
            'server': [
                '2.cn.pool.ntp.org', 
                '0.cn.pool.ntp.org', 
                '0.asia.pool.ntp.org', 
                '0.hk.pool.ntp.org'
            ],
            'restrict': ['default noquery nopeer', '127.0.0.1', '::1'],
            'driftfile': ['/var/lib/ntp/ntp.drift']
        }
    })
} %}
