{% set p  = salt['pillar.get']('redis', {}) %}

{% set redis = {} %}
{%- do redis.update({'prot'           : '6379',
                     'bind'           : '127.0.0.1',
                     'loglevel'       : 'notice'
                      }) %}

{% for key, value in redis.iteritems() %}
{% do redis.update({key: p.get(key, value)}) %}
{% endfor %}
